@font-face {
  font-family: "Western Normal";
  font-style: normal;
  font-weight: normal;
  src: local("Western Normal"), url("WEST____.woff") format("woff");
}
input {
  font-family: "Western Normal";
  font-size: 16px;
  padding: 8px;
  outline-color: brown;
}
.buttonFinal {
  font-family: "Western Normal";
  background-color: rgb(216, 113, 76);
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: 2px solid black;
  margin-top: 5px;
  border-radius: 5px;
  outline-color: brown;
}
h1,
h2,
h3,
h4 {
  font-size: 20px;
  color: rgb(215, 183, 64);
  text-align: center;
  font-family: "Western Normal";
}
h3 {
  font-size: 30px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}

body {
  height: 100%;
}

html {
  height: 100%;
}
.back2 {
  overflow: hidden;
  height: 100%;
  background-image: url("../img/Wanted-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}
.back1 {
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("../img/chooseBackground.jpeg");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}
#BackCanvas {
  display: block;
  background-image: url("../img/landscape.jpg");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  width: 1000px;
  height: 800px;
}
.buttonsOf {
  pointer-events: none;
  opacity: 0;
}
#total {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.players {
  width: 200px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  background-color: transparent;
  border: transparent;
}
.Clay {
  background-image: url("../img/Clay1.png");
}
.Jane {
  background-image: url("../img/Jane1.png");
}
.Jebediah {
  background-image: url("../img/Jebediah1.png");
}
.Ahusaka {
  background-image: url("../img/Ahusaka1.png");
}
.playerButons {
  width: 200px;
  height: 250px;
  background-size: 100%, 100%;
  background-color: transparent;
  border: transparent;
  outline: none;
  cursor: pointer;
}
.row {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
}
.buttonStart {
  font-family: "Western Normal";
  background-color: rgb(22, 123, 211);
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.back3 {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-image: url("../img/winBackground.jpg");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}
.Winnnnner {
  font-size: 100px;
  border-style: none;
  -webkit-text-fill-color: silver;
-webkit-text-stroke: 2px black;
}
.case {
  position: absolute;
  width: 100%;
  height: 100%;
}
.caseOf {
  display: none;
}
